#block1 {
    background-color: cyan;
}
#block2 {
    background-color: orange;
}
#block3 {
    background-color: green;
}

div {
    height: 270px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    float: right;
}